<form>
  <div class="form-group">
    <label class="sign-in-form" for="user_email">Email</label>
    <input
       class="form-control"
       id="user_email"
       name="user[email]"
       type="text">
    <br>

    <label class="sign-in-form" for="user_password">Password</label>
    <input
       class="form-control"
       id="user_password"
       name="user[password]"
       type="password">
    <br>

   <button class="btn btn-primary" id="sign-in">Sign In!</button>
	<button id="guest-user-login" class="btn btn-primary">SIGN IN AS GUEST</button>
  </div>
</form>
