<div class="container">
	<div class="row dashboard-header">
		<div class="row header-container">
			<div class="manage-owned-rentals col-md-4 dashboard open-tab" id="owned-rentals">
				<h3> <a>Manage Listings</a> </h3>
			</div>

			<div class="made-requests col-md-4 dashboard" id="made-requests">
				<h3><a>Manage your Trips</a> </h3>
			</div>

			<div class="requests col-md-4 dashboard" id="received-requests">
				<h3><a> Manage Requests </a></h3>
			</div>
		</div>
	</div>

	<div class="row dashboard-container">
		<div class="rentals dashboard-active manage-owned-rentals">
		</div>

		<div class="manage-requests hidden requests">
		</div>

		<div class="manage-trips hidden made-requests">
		</div>

	</div>
</div>