<h1> Welcome back, <%= user.escape("email") %> </h1>

<div class="row">
	<div class="col-md-4 dashboard" id="owned-rentals">
		<h3> Manage Listings</h3>
	</div>

	<div class="col-md-4 dashboard">
		<h3> Manage your Trips </h3>
	</div>

	<div class="col-md-4 dashboard">
		<h3> Manage Requests </h3>
	</div>
</div>

<div class="row dashboard-container">
	<div class="rentals dashboard-active">
	</div>

	<div class="manage-requests hidden">
	</div>

</div>
















