<form id="new-image" name="image" data-remote="true" enctype="multipart/form-data">
  <div class="field">
    <label for="image-upload"> image:</label>
    <input type="file" name="image[photo]" id="image-upload">
  </div>

  <div class="actions">
    <input type="submit" value="Create Image" />
  </div>
</form>