<h1> Listing: <%= rental.escape("id") %> </h1>
<div class="row">
	<div class="col-md-8">
		<div id="show-rental-carousel" class="carousel-inner">
			<ul class="slideshow-images">
				<li>
				  <img src="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/488485-cb8055504a43a9fd3687392c58abe04b.jpg">
				</li>
				<li class="hidden">
					<img src="https://a0.muscache.com/airbnb/static/landing_pages/home_v2/hero/264248-25b69a424e9d6033cd7b417cf8ad4deb.jpg">
				</li>
			</ul>
		</div>
		<ul>
			<div id="thumbnail-slideshow">
				  <a href="#" id="prev-slide">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>

					 Display Thumbnails here
				  <a href="#" id="next-slide">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
			</div>
		</ul>
	</div>
</div>

<div class="col-md-8">
	<div id="rental-details">
		<p><%= rental.escape("address") %></p>
		<p><%= rental.escape("description") %></p>
	</div>
</div>