<% if(rentals){ %>
	<div class="rentals">
		<% rentals.forEach(function(rental){ %>
			<div class="rental-search-item" data-id="<%= rental.id %>">
				 <p> <%= rental.address %> </p>
			 </div>
		<% }) %>
	</div>
<% } %>