<div class="row" id="map-row">
  <div class="col-md-5">
    <div id="map-canvas">
    </div>
  </div>
    <div class="errors col-md-7"></div>
  <div class="col-md-7" id="rental-results">
  </div>
</div>